/****************************************************************************************************
 * Global
 */
body {
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: #ffffff;
}

a {
	color: #098eb7;
	text-decoration: none;
	-webkit-transition: color 0.4s ease;
	-moz-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
	transition: color 0.4s ease;
}

a:hover {
	color: #005a8c;
}

img { border: 0; }

/****************************************************************************************************
 * Header
 */
#wrapper {
  margin: 0 0 0 100px;
}


/****************************************************************************************************
 * Header
 */
#header {
  margin: 90px 0 0 0;
}


/****************************************************************************************************
 * Logo
 */

#logo {
  /*placeholder*/
}

/****************************************************************************************************
 * Nav
 */
#nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: normal;
  font-style: italic;
  padding: 4px 6px;
}

#nav h1 {
  display: none;
}

#nav a {
  color: #333333;
  text-transform: lowercase;
}

#nav a:hover, #nav a.lit {
  color: #098eb7;
}

#nav ul {
  border-left: 1px solid #e2e2e2;
  
  list-style: none;
  padding: 0;
  margin: 0;
  
  height: 44px;
}

#nav ul li {
  float: left;
  
  margin: 0;
  padding: 0;
}

#nav ul li a {
  display: block;
  
  border-right: 1px solid #e2e2e2;
  padding: 10px 0;
  
  text-align: center;
  
  width: 98px;
  height: 26px;
}

/****************************************************************************************************
 * content
 */

#content{
  margin: 50px 0 0 0;
}

#content .hilight {
  color: #666666;
  
  float: left;
  
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  
  line-height: 30px;
  
  margin: 5px 0 5px 12px;
  
  padding: 7px 10px 7px 0;
  
  text-align: left;
  
  width: 600px;
}




/****************************************************************************************************
 * Common
 */
.signature{
  float: right;
}

